body {
    margin: 0;
    text-align: center;
    background-color: #1b244a;
}

.container {
    display: flex;
    justify-content: space-around;
}

.reset-container {
    margin-top: 3rem;
}

.score {
    width: 120px;
    background-color: #0a0001;
    color: #f94f6d;
    font-size: 90px;
    margin: 20px;
}

.score-btn {
    background: none;
    border-radius: 5px;
    border-style: groove;
    border-color: #9aabd8;
    height: 45px;
    width: 45px;
    color: #9aabd8;
}

h3 {
    color: #eee;
}

.reset-btn {
    background-color: darkred;
}